name: CI

on:
  push:
    branches:
      - main
      - wip
  pull_request:

jobs:
  build:
    name: Build and run atdf2svd CLI tool
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo run -- tests/atmega328p.atdf /dev/null

  test:
    name: Run atdf2svd regression tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo test --no-default-features

  rustfmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: actions-rust-lang/rustfmt@v1
